body{
    font-family: 'Quicksand', sans-serif;
    background-color: lightcyan;
}
.header_div
{
    background-color: rgb(4, 157, 252);
    color: white;
}
.header_div p
{
    color:white;
    letter-spacing: 2px;
    font-size:12px;
    font-weight: bold;
}
.main_div button{
    margin-top:30px;
    width:130px;
    font-weight:bolder;
    letter-spacing:3px;
}
.copy_right_footer
{
position:fixed;
color: rgb(4, 103, 252);
bottom:0;
width: 100%;
font-size:18px;
font-weight: bolder;
line-height:3;
text-align: center;
text-shadow: 5px 5px 5px rgb(4, 103, 252);
}
